language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
  - "nightly"
  - "pypy3" # this is 3.6
env:
  - JOB=tests

jobs:
  include:
    - python: "3.9"
      env:
        - JOB=check
    - python: "3.9"
      env:
        - JOB=docs
  allow_failures:
    - python: "nightly"
    - python: "pypy3"

install: |
  case $JOB in
    tests) pip install .;;
    docs) pip install .[doc];;
    check) pip install mypy;;
  esac

script: |
  case $JOB in
    tests) python setup.py test;;
    docs) python setup.py build; make -C doc html man;;
    check) mypy --ignore-missing-imports khard;;
  esac

deploy:
  provider: pypi
  username: # TODO <username>
  password: # TODO <encrypted password>
  # see https://blog.travis-ci.com/2019-08-27-deployment-tooling-dpl-v2-preview-release
  edge: true # opt in to dpl v2
  skip_existing: true
  on:
    tags: true
