[addressbooks]
[[family]]
path = ~/.contacts/family/
[[friends]]
path = ~/.contacts/friends/

[general]
default_action = list
editor = vim
merge_editor = vimdiff

[contact table]
group_by_addressbook = no
reverse = no
show_nicknames = no
show_uids = yes
sort = last_name
