[addressbooks]
[[family]]
path = ~/.contacts/family/
[[friends]]
path = ~/.contacts/friends/

[general]
editor = vim
merge_editor = vimdiff
default_action = list

[contact table]
sort = last_name
group_by_addressbook = no
show_nicknames = no
show_uids = yes
